In [1]:
import numpy as np
import pandas as pd

In [32]:
data = pd.read_csv("climate_change_1.csv", index_col=0)
train_data = data.loc[:2006,:]
test_data = data.loc[2007:,:]
data.head()

,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
Year,,,,,,,,,,
1983,5,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,0.109
1983,6,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,0.118
1983,7,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,0.137
1983,8,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,0.176
1983,9,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,0.149

In [73]:
def closed_form_1(x,y):
    x["constant"]=1
    columns = x.columns
    x = np.matrix(x)
    y = np.matrix(y).T
    coeff = (x.T@x).I@(x.T@y)
    result = pd.Series(coeff.A1, index=columns, 
                       name="correlation coefficient")
    return result

coeff = closed_form_1(train_data.loc[:,"MEI":"Aerosols"], train_data.Temp)
coeff

MEI           0.064205
CO2           0.006457
CH4           0.000124
N2O          -0.016528
CFC-11       -0.006630
CFC-12        0.003808
TSI           0.093141
Aerosols     -1.537613
constant   -124.594260
Name: correlation coefficient, dtype: float64

In [92]:
def r_square(coeff,x,y):
    coeff = np.matrix(coeff)
    x["constant"]=1
    x = np.matrix(x)
    y = y.values
    y_hat = (x@coeff.T).A1
    
    cov = ((y_hat-y_hat.mean())*(y-y.mean())).sum()
    var1 = ((y_hat-y_hat.mean())**2).sum()
    var2 = ((y-y.mean())**2).sum()
    r2 = cov/(var1*var2)**0.5
    return r2

print("training_data r2 is", r_square(coeff,train_data.loc[:,"MEI":"Aerosols"],train_data.Temp))
print("testing_data r2 is", r_square(coeff,test_data.loc[:,"MEI":"Aerosols"],test_data.Temp))

training_data r2 is 0.8665409840580759
testing_data r2 is 0.47235818520873785

In [44]:
def t_value(coeff,x,y):
    coeff = np.matrix(coeff)
    x["constant"]=1
    x = np.matrix(x)
    y = np.matrix(y)
    
    Qx = x.T@x
    beta_cov =

Index(['Month', 'MEI', 'CO2', 'CH4', 'N2O', 'CFC-11', 'CFC-12', 'TSI',
       'Aerosols', 'Temp'],
      dtype='object')